* {margin: 0px; padding: 0px;}
body {font-family: 'Verdana';}

header {width: 100%; overflow: hidden;}
#header_base {width: 1180px; height: 120px; margin: 0px auto; position: relative;}
#header_base > h1 {margin: 0px; left: 10px; bottom: 15px; position: absolute; opacity: 70%;}
#utility_bar {float: right; overflow: hidden; right: 30px; top: 20px; position: relative;}
#utility_bar > ul {overflow:hidden;}
#utility_bar > ul > li {list-style: none; float: left; margin: 0px 10px; color:gray;}
#utility_bar > ul > li > a {text-decoration: none; color: inherit;}
#global_navigation_bar {float: right; overflow: hidden; right: 0px; bottom: 0px; position: absolute;}
#global_navigation_bar > ul {overflow:hidden;}
#global_navigation_bar > ul > li {list-style: none; float: left; padding: 20px 30px; font-weight: bold; opacity: 70%;}
#global_navigation_bar > ul > li > a {text-decoration: none; color: inherit;}
#global_navigation_bar > ul > li > a:hover {color:red; text-decoration: underline;}

#main_image {width: 100%; height: 590px; background-image: url("bg_main.png");}
#main_image_text {width: 800px; height: 300px; font-size: 25px; color: white; margin: 0px auto; top: 150px; position: relative}
#main_image_text::first-line {font-size: 80px;}

section {width: 1180px; height: 450px; margin: 0px auto;}
section > p {font-weight: bold; text-align: center; padding : 40px 0px;}
article {float: left; padding: 0px 32.5px;}
article > p.title{margin: 10px 0px; font-weight: bold;}
article > p.body{margin : 0px;}

footer {width: 100%; background-color:black; opacity: 85%;}
#footer_base {width: 1000px; height: 100px; margin: 0px auto; position: relative;}
#footer_base > h1 {margin: 0px; left: 10px; bottom: 15px; position: absolute; color: lightgray}
#footer_menu_bar {float: right; overflow: hidden; right: 20px; bottom: 15px; position: absolute;}
#footer_menu_bar > ul {overflow: hidden;}
#footer_menu_bar > ul > li {list-style: none; float: left; color: lightgray; margin-right: 20px; padding-right: 20px; border-right: 1px solid lightgray;}
#footer_menu_bar > ul > li:last-child {border-right: none; margin-right: 0px; padding-right: 0px;}
#footer_menu_bar > ul > li > a {text-decoration: none; color: inherit;}
#footer_menu_bar > ul > li > a:hover {color:red; text-decoration: underline;}
#footer_text {width: 1000px; margin: 0px auto; font-size:75%; line-height: 1.5; padding: 20px 0px 20px 20px; color: lightgray;}